{% load static %}
{% include 'header.html' %}
<link rel="stylesheet" href="{% static 'css/post_detail.css' %}">
<img src="{{ post_id.image.url }}" alt="">
<h1>{{ post_id.title }}</h1>
<p>{{ post_id.description }}</p>
<a href="{{ post_id.url_news }}">Перейти на сайт</a>
<p>{{ post_id.email_news }}</p>
<p> {{ post_id.like_or_dislike}}</p>


<div class="center">
    {% for j in post_id.review_post.all %}
    <p>
        <h3>{{ j.text_post }}</h3>
    </p>
    <p>{{ j.created_at }}</p>
    {% endfor %}
</div>


{% include 'footer.html' %}
